<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Robin Chalas - Développeur Web Full Stack</title>
    <meta name="description" content="Robin Chalas - Développeur Web FullStack orienté Back {Symfony2, NodeJS, AngularJS}, création de sites et applications web basées sur l'intuitivité, spécialisé dans les single page app's et real-time app's.">
    <meta name="keywords" content="robin, chalas, robin chalas, developpeur, web, dev, developer, fullstack, full, stack, angular, javascript, js, nodejs, lyon, developpeur lyon, web lyon, freelance, sutunam, epitech, web@cadémie, symfony, symfony2, laravel, sensiolabs, expertn, certifié, dev symfony, symfony lyon">
    <meta name=viewport content="initial-scale=0" >
    <link rel="stylesheet" href="{{ asset('bundles/portfolio/css/materialize.min.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('bundles/portfolio/css/all.css') }}" type="text/css" media="screen" />
    <link rel="icon" href="{{ asset('bundles/portfolio/img/favicon.ico') }}" />

</head>
{% block body %}

{% endblock %}
</html>
